html{   
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*ESTILOS GENERALES, HEADER, FOOTER,*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend Mega";
}

/*menu*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: black;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.iconobarra{
    transform:rotate(90deg)
}

    /*-------------hamburguesa-------------------*/

@media screen and (max-width: 550px) {
    .iconobarra{
        display: none;
    }
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu:hover, .cerrar-menu:hover{
        background-color: transparent;
    }
    .abrir-menu {
        color:white;
    }

    .cerrar-menu {
        color: #ececec;
        font-size: 1.5rem;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 999;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        gap: 5vh;
        align-items: end;
    }
    .nav-list li a:hover {
        color: lightskyblue;
        font-size: 1.1rem;
    }
    .nav li{
        align-items: center;
    }
    .nav li a{
        position: relative;
        color: white;
        text-decoration: none;
        transition: 1s ease-out;
        white-space: nowrap;
    }
    
    
    .nav li a::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        height: 3px;
        transform-origin: right;
        transform: scaleX(0);
        background-color: black;
        transition: 0.7s ease;
    }
    
    
    .nav li a:hover::after{
        transform: scaleX(1);
        transform-origin: left;
        background-color: lightskyblue;
    }
}


/* Footer */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    border-top: 5px solid #111;
    position: relative;
}

.div-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.div-footer div {
    margin: 10px;
}


.titulo-redes {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: lightseagreen;
    transition: color 0.3s;
}

.titulo-redes:hover {
    color: #fff;
}

.redes div {
    font-size: 1.1em;
    margin: 5px 0;
    cursor: pointer;
    color: lightskyblue;
    transition: color 0.3s;
}

.redes div:hover {
    color: #fff; 
}


/* Responsive Design */
@media (max-width: 800px) {
    .div-footer {
        flex-direction: column;
        text-align: center;
    }

    .redes {
        text-align: center;
    }
}